<h2>Создать посещение</h2>
<form action="{%  url 'clients:visit_create' client.id %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit">
</form>
<p>---</p>
<form action="{%  url 'clients:visit_create' client.id %}" method="post">
    <input type="hidden" name="client" value="{{ client.id }}">
    <input type="datetime-local" name="visit_date">
    {% csrf_token %}
    <input type="submit">
</form>

{% for field, errors in form.errors.items %}
    <p>ERRORS:</p>
    <p>{{ field }}</p>
    {% for error in errors %}
        <p>{{ error }}</p>
        {% endfor %}
{% endfor %}